@media (min-width: 992px) and (max-width: 1200px) {
    .wrappar-left {
        left: -20%;
    }
    .wrappar-right {
        right: -20%;
    }
    .sidebar-contant {
        width: 75%;
    }
}
@media only screen and (max-width: 991px) {
    .sidebar-contant {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        position: fixed;
    }
    .wrappar-right,
    .wrappar-left {
        display: none;
    }
    .logo-area {
        text-align: left;
    }

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-content-area h1 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 767px) {
    .main-content-area h1 {
        font-size: 24px;
    }
    .single-service {
        margin-right: 0;
        width: 100%;
    }
    .particle-wrappar,
    .bubble-wrappar,
    .main-wrappar {
        height: auto;
        background-attachment: fixed;
        overflow-y: auto;
    }
    .wrappar-text {
        height: auto;
        padding: 30px 0;
    }
    .wraper-text-valign {
        left: 0;
        position: static;
        top: 0;
        transform: translate(0, 0);
    }
    .siderbar-btn {
        height: 40px;
        line-height: 44px;
        width: 40px;
        top: 20px;
        right: 20px;
    }
    .siderbar-btn i {
        font-size: 18px;
    }
    .single-count {
        display: block;
        margin: 20px auto;
        width: 100%;
    }
    .about-us-area i {
        font-size: 18px;
        height: 30px;
        line-height: 30px;
        width: 30px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    
}