/**
*
* ---------------------------------------------------------------------------
*
* Template :    Serena Way
* Author :      Rishab Sharma
* Author URI :  http://www.rishabsharma.co.nf
* Version :     1.0
*
* --------------------------------------------------------------------------- 
*
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

a {
    text-decoration: none;
    transition: all 0.2s;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

::-webkit-input-placeholder {
    color: inherit;
}

button:focus,
input:focus {
    outline: none;
}


/* Theme Button */

.theme-ghost-btn {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    color: #fff;
    border: 1px solid rgb(50, 181, 30);
    text-transform: uppercase;
    margin-right: 10px;
}

.alt-ghost-btn {
    border: 1px solid #fff;
}

.theme-ghost-btn:focus,
.theme-btn:focus {
    color: #fff;
}

.theme-ghost-btn:hover {
   background-image: linear-gradient( 165deg, rgb(50, 181, 30) 0%, rgb(50, 181, 30) 54%, rgb(50, 181, 30) 100%);*/
    color: #fff;
}

.alt-ghost-btn:hover {
    background-image: none;
    background-color: #fff;
    color: rgb(50, 181, 30);
}

.theme-btn {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid rgb(50, 181, 30);
    background-image: linear-gradient( 165deg, rgb(50, 181, 30) 0%, rgb(50, 181, 30) 54%, rgb(50, 181, 30) 100%);
    color: #fff;
    text-transform: uppercase;
}
.new {
display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid rgb(50, 181, 30);
    background-image: linear-gradient( 165deg, rgb(50, 181, 30) 0%, rgb(50, 181, 30) 54%, rgb(50, 181, 30) 100%);
    color: #fff;
    text-transform: uppercase;
}
.alt-btn {
    background-image: none;
    background-color: #fff;
    border: 1px solid #fff;
    color: rgb(50, 181, 30);
}

.theme-btn:hover {
    background-image: none;
    color: #fff;
}

.alt-btn:hover {
    background-color: transparent;
    color: #fff;
}


/* Preloader */

.theme-preloader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    background-color: #fff;
}

.sk-circle {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    top: 50%;
    margin-top: -20px;
}

.sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: rgb(50, 181, 30);
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
    transform: rotate(30deg);
}

.sk-circle .sk-circle3 {
    transform: rotate(60deg);
}

.sk-circle .sk-circle4 {
    transform: rotate(90deg);
}

.sk-circle .sk-circle5 {
    transform: rotate(120deg);
}

.sk-circle .sk-circle6 {
    transform: rotate(150deg);
}

.sk-circle .sk-circle7 {
    transform: rotate(180deg);
}

.sk-circle .sk-circle8 {
    transform: rotate(210deg);
}

.sk-circle .sk-circle9 {
    transform: rotate(240deg);
}

.sk-circle .sk-circle10 {
    transform: rotate(270deg);
}

.sk-circle .sk-circle11 {
    transform: rotate(300deg);
}

.sk-circle .sk-circle12 {
    transform: rotate(330deg);
}

.sk-circle .sk-circle2:before {
    animation-delay: -1.1s;
}

.sk-circle .sk-circle3:before {
    animation-delay: -1s;
}

.sk-circle .sk-circle4:before {
    animation-delay: -0.9s;
}

.sk-circle .sk-circle5:before {
    animation-delay: -0.8s;
}

.sk-circle .sk-circle6:before {
    animation-delay: -0.7s;
}

.sk-circle .sk-circle7:before {
    animation-delay: -0.6s;
}

.sk-circle .sk-circle8:before {
    animation-delay: -0.5s;
}

.sk-circle .sk-circle9:before {
    animation-delay: -0.4s;
}

.sk-circle .sk-circle10:before {
    animation-delay: -0.3s;
}

.sk-circle .sk-circle11:before {
    animation-delay: -0.2s;
}

.sk-circle .sk-circle12:before {
    animation-delay: -0.1s;
}

@keyframes sk-circleBounceDelay {
    0%,
    80%,
    100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}

/*  ================================
    02. Simple Image, Bubble And PArticle Backgroun Area / .particle-wrappar / .bubble-wrappar / .main-wrappar
    ================================ */

.particle-wrappar,
.bubble-wrappar,
.main-wrappar {
    height: 100%;
    width: 100%;
    background: #ddd url(img/backgrounds/main-bg.jpg) center top no-repeat;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
    overflow: hidden;
}

.particle-wrappar:before,
.bubble-wrappar:before,
.main-wrappar:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.main-wrappar::after {
    background: transparent url("img/backgrounds/bg-bubble.png") no-repeat scroll center center / cover;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 990;
}

.wrappar-left {
    width: 33.33%;
    position: absolute;
    left: -10%;
    top: -25%;
    height: 150%;
    background-image: linear-gradient( 165deg, rgb(50, 181, 30) 0%, rgb(112, 62, 215) 54%, rgb(70, 51, 193) 100%);
    opacity: 0.6;
    transform: rotate(20deg);
}

.wrappar-right {
    width: 33.33%;
    position: absolute;
    right: -10%;
    top: -25%;
    height: 150%;
    background-image: linear-gradient( 165deg, rgb(50, 181, 30) 0%, rgb(112, 62, 215) 54%, rgb(70, 51, 193) 100%);
    opacity: 0.6;
    transform: rotate(20deg);
}

/*  ================================
    03. Background Slider Area / .main-bgslider
    ================================ */

.main-bgslider {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.main-bgslider:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 900;
}

/*  ================================
    04. Home Particles Background / #particles-js
    ================================ */

#particles-js {
    position: absolute;
    z-index: 996;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: none;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    overflow: hidden;
}

/*  ================================
    05. Background Video Page / #main-bgvideo
    ================================ */

#main-bgvideo {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #000;
    overflow: hidden;
}

/*  ================================
    06. Background Gradient Page / .gradient-wrappar
    ================================ */

.gradient-wrappar {
    position: relative;
    height: 100%;
    width: 100%;
}

/*  ================================
    07. Background Polygon Page / .polygon-wrappar
    ================================ */

.polygon-wrappar {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}

.polygon-overlay {
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

/*  ================================
    08. Smoky Page / .smoky-wrappar
    ================================ */

.smoky-wrappar {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.smoky-canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.smoky-wrappar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
}

/*  ================================
    09. Particle On Mouse Direction Page / .particle-ground-bg
    ================================ */

.particle-ground-bg {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.particle-ground {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(rgb(178, 69, 146), rgb(241, 95, 121));
}

.particle-ground-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.7);
}


/*  ================================
    10. Solid Color Page / .solid-color-wrappar
    ================================ */

.solid-color-wrappar {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgb(50, 181, 30);
    overflow: hidden;
}


/*  ================================
    11. Main Sidebar / .main-sidebar
    ================================ */

.main-sidebar {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}

.siderbar-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 998;
    height: 50px;
    width: 50px;
    line-height: 58px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.siderbar-btn i {
    font-size: 25px;
    color: rgba(250, 250, 250, 0.8);
    transition: color 0.5s ease;
}

.siderbar-btn:hover i {
    color: #fff;
}

.sidebar-contant {
    position: absolute;
    z-index: 999;
    right: -100%;
    width: 65%;
    height: 100vh;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgb(50, 181, 30);
    overflow: auto;
    transition: right 1.3s ease;
}

.about-us-area {
    padding-bottom: 20px;
    position: relative;
}

.about-us-area i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 25px;
    box-shadow: 0 0 5px rgba(154, 72, 237, 0.3);
    height: 40px;
    width: 40px;
    line-height: 38px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.about-us-area h2 {
    text-align: center;
    color: rgb(50, 181, 30);
    margin-bottom: 30px;
}

.service-area {
    overflow: hidden;
    padding-bottom: 20px;
}

.service-area h2 {
    text-align: center;
    color: rgb(50, 181, 30);
    margin-bottom: 10px;
}

.feture-service {
    overflow: hidden;
}

.single-service {
    width: 31.2%;
    float: left;
    padding: 20px 10px;
    border: 1px solid rgba(154, 72, 237, 0.5);
    margin-top: 20px;
    margin-right: 20px;
    text-align: center
}

.single-service:nth-child(3n) {
    margin-right: 0;
}

.single-service h3 {
    margin-bottom: 15px;
    font-size: 16px;
    ;
}

.single-service i {
    color: #e8e8e8;
    font-size: 60px;
    text-align: right;
    display: block;
}

/*  ================================
    12. Wrappar Text Area / .wrappar-text
    ================================ */

.wrappar-text {
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 997;
    color: #fff;
}

.wraper-text-valign {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.logo-area {
    text-align: center;
}

.main-content-area h1 {
    font-size: 60px;
    margin: 30px 0;
}

.main-content-area h1 span {
    display: block;
}

.main-content-area p {
    margin-bottom: 30px;
}

.theme-btn-area {
    margin-bottom: 30px;
}

/*  ================================
    13. Join Us Area / .join-us-area
    ================================ */

.join-us-area {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    z-index: 998;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
}

.visble-joinus {
    opacity: 1;
    visibility: visible;
}

.jon-us-content {
    position: relative;
    background-color: #fff;
    width: 100%;
    transition: all 1s ease;
    box-shadow: 0 0 15px rgb(50, 181, 30);
}

.jon-us-content i {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 26px;
    color: rgba(0, 255, 0, 0.3);
    cursor: pointer;
    transition: color 0.5s ease;
}

.jon-us-content i:hover {
    color: rgba(255, 255, 255, 0.8);
}

.join-us-area h3 {
    background-image: linear-gradient( 165deg, rgb(50, 181, 30) 0%, rgb(112, 62, 215) 54%, rgb(70, 51, 193) 100%);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.join-us-area p {
    padding: 30px 10px 10px;
}

.join-us-area form {
    padding: 0 10px 30px;
}

.join-us-area input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    color: #ddd;
}

.join-us-area button {
    background-color: transparent;
    color: #555;
    margin: 20px auto 0;
    display: block;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid rgb(50, 181, 30);
    text-transform: uppercase;
}

.join-us-area button:hover {
    background-image: linear-gradient( 165deg, rgba(0, 255, 0, 0.2) 0%, rgba(0, 255, 0, 0.4) 54%, rgba(0, 255, 0, 0.6) 100%);
    color: #fff;
}

/*  ================================
    14. Count down Area / #coundt-down
    ================================ */


#coundt-down {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}

.single-count {
    display: inline-block;
    padding: 20px 0;
    width: 100px;
    border: 1px solid rgb(50, 181, 30);
    margin: 0 5px 30px;
}

.alt-count {
    border: 1px solid #fff;
}

.single-count span {
    display: block;
    .join-us-area inpu
}

/*  ================================
    15. Main Footer Area / .main-footer-area
    ================================ */

.main-footer-area {}

.fotter-social {
    list-style-type: none;
    text-align: center;
}
.fotter-social li {
    display: inline-block;
}
.fotter-social li a {
    display: block;
    color: #fff;
    margin: 5px;
    font-size: 18px;
}
.fotter-social li a i {
    transition: transform 0.5s ease;
}
.fotter-social li a:hover i {
    transform: rotate(360deg);
    color: rgb(50, 181, 30);
}

/*  ================================
    16. Preview Page Css / .preview-header
    ================================ */

.preview-header {
    padding: 30px 0;
    text-align: center;
}
.preview-header h4 {
    margin: 0;
    margin-top: 30px;
}
.single-preview-template {
    text-align: center;
    padding: 0 0 20px;
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.05);
    margin: 30px 0;
    transition: all 1s ease;
}
.single-preview-template:hover {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}
.single-preview-template a {
    display: block;
}
.single-preview-template img {
    display: block;
}
.single-preview-template p {
    margin: 20px 0;
    color: #555;
    font-weight: 700;
}
