<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page | Sign Up</title>
</head>
<body>
    <h1>Sign Up - Please</h1>
    <form method="post" action="/post_user">
        <label>Username:</label><br>
        <input id="username" name="username" type="text" /><br>
        <label>Email:</label><br>
        <input id="email" name="email" type="text" /><br><br>
        <input type="submit" />
    </form><br>
    <hr>
    <h2>The Data View</h2>
    {% for user in myuser %}
         <li>{{user.id}}. "{{user.username}}" with Email at {{user.email}}</li>
    {% endfor %}
    {{oneItem.username}}

</body>
</html>